@font-face {
  font-family: 'Lucida Bright';
  src: url('../LBRITE.TTF');
}
@font-face {
  font-family: 'Lucida Bright';
  font-weight: bold;
  src: url('../lucidabrightdemibold.ttf');
}
@font-face {
  font-family: 'Arial Black';
  src: url('../arial-black.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Bright', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35;
  background-color: #1a1c56;
  color: #000;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-rectangle {
  width: 95%;
  border: 2px solid #000;
  background-color: #155277;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 50px auto 0px auto;
}

.heading-rectangle {
  border: 3.5px solid #000;
  margin: 15px auto;
  width: 80%;
}

.heading-rectangle h2 {
  font-size: 30px;
  padding: 15px 0px;
  text-align: center;
}

.rectangle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle-btn a {
  background-color: #000;
  padding: 10px;
  border-radius: 5px;
}

.rectangle-btn a:not(:last-child) {
  margin-right: 45px;
}

.rectangle-btn a i {
  display: inline-block;
  font-size: 35px;
  color: #fff;
}

.rectangle-messages {
  width: 80%;
  margin: 10px auto;
  display: none;
}

.rectangle-messages p {
  font-size: 22px;
  padding-bottom: 15px;
}

.rectangle-messages p:nth-child(1) {
  color: #000;
}
.rectangle-messages p:nth-child(2) {
  color: #8f0000;
  font-family: 'Arial Black', sans-serif;
}
.rectangle-messages p:nth-child(3) {
  color: #000;
}
.rectangle-messages p:nth-child(4) {
  color: #8f0000;
  font-family: 'Arial Black', sans-serif;
}
.rectangle-messages p:nth-child(5) {
  color: #000;
}

.sub-rectangle {
  border: 3.5px solid #000;
  margin: 15px auto;
  width: 80%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.sub-rectangle .rectangle-img {
  width: auto;
  margin: 10px auto;
}

.sub-rectangle .rectangle-img img {
  max-width: 52%;
  margin: auto;
  display: block;
}

@media (max-width: 500px) {
  .rectangle-btn a {
    padding: 6.5px;
  }

  .rectangle-btn a:not(:last-child) {
    margin-right: 25px;
  }

  .rectangle-btn a i {
    font-size: 25px;
  }

  .main-rectangle {
    margin: 35px auto 0px auto;
  }

  .rectangle-messages {
    width: 95%;
    margin: 5px auto;
    display: none;
  }

  .rectangle-messages p {
    font-size: 15px;
    padding-bottom: 10px;
    line-height: 1.2;
  }

  .heading-rectangle h2 {
    font-size: 20px;
    padding: 8px 0px;
  }

  .sub-rectangle .rectangle-img img {
    max-width: 80%;
    margin: auto;
    display: block;
  }

  .sub-rectangle {
    width: 90%;
  }
}
